  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }
  body div{
    margin-top:0%;
    padding: 20px;
    color: #01070c;
    font-size:x-large;
    align-items:center;

  }
    
  .register-container {
    background-color: #f8eeee;
    padding: 440px;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(11, 11, 11, 0.1);
    text-align:center;
  }
  
  .register-container h2 {
    margin-bottom: 21px;
    font-size: 23px;
    color: #343232;
  }
  
  .form div {
    margin-bottom: 20px;
    text-align:left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cecdcd;
    border-radius: 5px;
    font-size: 14px;
  }

  input {
    width: calc(100% - 20px);
    padding: 5px;
    margin: 2px 0;
    border: 1px solid #a29a9a;
    border-radius: 2px;
    font-size: 15px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #6eb2f5;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .login-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(15, 15, 15, 0.1);
    width: 350px;
    text-align:center;
    
  }

  .login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }

  .login-link {
    margin-top: 20px;
  }
  
  .login-link p {
    font-size: 14px;
  }
  
  .login-link a {
    color: #0779f4;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  .p {
    text-align: center;
  }
  
  @media (max-width: 768px) {

  }
  .header{
    position:fixed;
    width: 100%;
    top:0 ;
    background-color: #090909;
    background: #0a0a0a;
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index: 100;
    margin-bottom: 60%;
    font:bolder;
    
  }
  .header h1{
    position:sticky;
    color: #0779f4;

  }
  .navbar{
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    padding: 5px 10px;
    margin:50px;
  }
  .navbar a{
    position: relative;
    font-size:large;
    color: #4c0fdc;
    margin:  20px;
    text-decoration: none;
    padding:15px;
  
  }
  .navbar a::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(241, 241, 244);
    bottom: -5px;
    border-radius:5px ;
    transform: translateY(10px);
    opacity: 0;
    transition:  .5s ease;
    

  }
  .navbar a:hover:after{
    transform: translateY(0);
    opacity: 1;
    
  }
  .search-bar{
    width: 250px;
    height: 44px;
    background-color:rgb(39, 161, 43);
    border: 2px solid #fff;
    background: 6px;
    display: flex;
    align-items: center;

  }
  .search-bar input{
    width: 100%;
    background-color:green;
    border: none;
    outline:none ;
    color: #fff;
    font-size: 16px;
    padding-left: 10px;

  }
  .search-bar input button{
    width:40px;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  .social-icons a i{
    font-size: 50px;
    margin-left: 50px;
    cursor:pointer;
    transition: 0.5s ease;
    justify-content:flex-end;

  }
  .social-icons a:hover i{
    transform: scale(1.2);
    
  }

.social-icons .facebook {
  color: #0056b3;

}

.social-icons .twitter{
  color: #2688e9;

}

.social-icons .youtube{
  color: #ec3f3f;

}

.social-icons .instagram {
  color: #f62393;

}

.social-icons .linkedin {
  color: #0056b3;

}

.body{
  font-family: 'Courier New', Courier, monospace;
  color: brown;
  margin: 0;
  padding: 0;
  background-color: #cecdcd;
}

.header {
  background-color: #cecdcd;
  color: #0056b3;
  padding: 40px 20px;
  text-align:center;

}
#About h1{
color: #0056b3;             
    font-weight: bold;         
    font-size: 2.5rem;         
    text-align:initial;    
    margin: 20px 0; 
    margin-top: -160px;
            
}
  

#Introduction {
  
  
  background-color: #b7b7f2;              
    color: #333;                             
    max-width: 600px;                       
    margin: 18px auto;                         
    padding: 10px;                       
    border-radius: 7px;                       
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;  
    margin-left: 20px; 
    
}
#Introduction p {
  line-height: 1.6;                         
    font-size: 1.2rem;                      
    margin: 10px 0; 
    font-weight: bold;


}

#our\ team {
  padding: 30px;
  margin: 20px auto;
  max-width: 800px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0, 0, 0.1);
  text-align: center;

}

#our\ team h2 {
  color: #0b0b0e;
  font-size: 2rem;
  margin-bottom: 20px;

}
 .team-member{
  margin: 20px 0;
  text-align: center;
  margin-left: -50px
  

 }

 .team-photo{
  width: 120px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  background-color: #ddd;
  
 }

 .team-member h3 { 
  margin: 8px 0;
  font-size: 1.6rem;
  color: #442cff;


 }

 .team-member p {
  font-size: 1rem;
  color: #666;

 }

 footer {
  background-color: #333;
  color: white;
  text-align:left;
  padding: 10px;
  margin-bottom: -40%;
  margin-left: -60%;


 }

 footer a {
  color: #0073e6;
  text-decoration: none;

 }

 footer a:hover {
  text-decoration: underline;

 }

 footer p {
  margin: 5px;
  font-size: 0.9rem;
  

}

#contact h1 {
  color: #0056b3;             
    font-weight: bold;         
    font-size: 2.5rem;         
    margin-top: -250px;
    margin-left: -30px;
}

#contact-details {
  max-width: 700px;
  background-color: #f4f4f9;
  border-radius: 20px;
  box-shadow: rgba(102, 144, 181, 0.1);
  text-align:center;
  margin-left: -90px;
  font-weight: bolder;
  color: #0779f4;
}
#contact-details form{
  display:flex;
  flex-direction: column;
  text-align: center;

}

#contact-details label{
  margin-top: 11px;
  font-weight: bold;
  color: #131516;
}

.logout-message h1{
  font-size: 3rem;
  color: #0056b3;
  margin-bottom: 12px;
 
}
.logout-message p{
  font-size: 1.3rem;
  color: #494747;
  margin-top: 12px;
 
}

section {
  margin: 22px auto;
  padding: 19px;
  background-color: whitesmoke;
  max-width: 800px;
  border-radius: 9px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

section h2{
  font-size: 3rem;
  color: #3c98f4;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 11px;

}

section p, section ul li {
  font-size: 1.1rem;
  line-height: 1.5;
}

ul {
  padding: 0;
  margin: 19px 0;
  list-style-type: none;
}
ul li {
  align-items: center;
  display: flex;
  margin: 17px 0;
  font-size: 1.1rem;
  line-height: 1.8;
}

.list-icons {
  height: 40px;
  width: 20px;
  margin-left: 5px;

}

ul li strong {
  color: #0056b3;
}
#contact-info {
  margin-bottom: -100%;
background-color: #dcd7d7;
}

.back {
  padding: 10px 20px;
  display: inline-block;
  color: #6140e5;
  border-radius: 6px;
  font-size: 2rem;
  text-align: center;
  background-color: rgb(174, 170, 170);
  transition: background-color 0.3s;
}
.back:hover {
  background-color: rgb(19, 16, 16);
}